body {
	margin: 0px;
	padding: 0px;
	position: relative;
	font-size: 48px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(10, 10, 10);
}

.tile {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 150px;
	display: table;
	cursor: pointer;
	position: absolute;
	color: rgb(132, 223, 207);
}

.tileText {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
